
div.ex1{
  border-radius: 20px;
  padding: 30px;
  background-image: url("fondo2.jpg");
  box-shadow: 10px 10px 5px grey;
}

div.ex2{
  border-radius: 20px;
  padding: 20px;
  right: 600px;
  width: 500px;
  height:150px;
  margin-left: auto;
  background-image: url("fondo1.jpg");
  opacity: 0.9;
  filter: alpha(opacity=90);
}
div.ex6{
  border-radius: 20px;
  padding: 20px;
  height:160px;
  margin-left: 20px;
  margin-right: auto;
  background-image: url("fondo1.jpg");
  opacity: 0.9;
  filter: alpha(opacity=90);
}
div.ex3{
  border-radius: 20px;
  padding: 30px;
  margin-left: px;
  margin-right: auto;
}

div.ex4{
  border-radius: 20px;
  padding: 10px;
  background-color: #FFFFFF;
  opacity: 0.8;
  filter: alpha(opacity=50);
}
div.ex5 {
  position: absolute;
  top: 350px;
  left: 50px;
  width: 300px;
  height: 300px;
  border: 3px solid #1EBDB1;
  border-radius: 20%;
  box-shadow: 10px 10px 5px grey;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 90%;
  opacity: 0.8;
  filter: alpha(opacity=50);
}

h1 {
    text-align:center;
    color:#A92C69;
    font-family: fantasy, tahoma;
}
hr {
    color: #A52A2A ;
}
.button {
  background-color: #9DC7C4;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


# t1 {
    width:80%;
}
# ta2 {
    width:60%;
}
# tb01 {
    text-align:center
}
